$icons: (
	sprite: (width: 546px, height: 546px, pngPath: '../img/sprite.png', svgPath: '../img/sprite.svg'),
		angle-down: (width: 32px, height: 32px, backgroundX: 0px, backgroundY: 0px),
			angle-left: (width: 32px, height: 32px, backgroundX: -42px, backgroundY: -42px),
			angle-right: (width: 32px, height: 32px, backgroundX: -84px, backgroundY: -84px),
			angle-up: (width: 32px, height: 32px, backgroundX: -126px, backgroundY: -126px),
			check: (width: 32px, height: 32px, backgroundX: -168px, backgroundY: -168px),
			chevron-down: (width: 32px, height: 32px, backgroundX: -210px, backgroundY: -210px),
			chevron-left: (width: 32px, height: 32px, backgroundX: -252px, backgroundY: -252px),
			chevron-right: (width: 32px, height: 32px, backgroundX: -294px, backgroundY: -294px),
			chevron-up: (width: 32px, height: 32px, backgroundX: -336px, backgroundY: -336px),
			facebook: (width: 32px, height: 32px, backgroundX: -378px, backgroundY: -378px),
			google-plus: (width: 32px, height: 32px, backgroundX: -420px, backgroundY: -420px),
			linkedin: (width: 32px, height: 32px, backgroundX: -462px, backgroundY: -462px),
			twitter: (width: 32px, height: 32px, backgroundX: -504px, backgroundY: -504px),
	);