/* =============================================================================
  COLORS
============================================================================= */

$white: 		#fff;
$black: 		#000;
$gray1:         #111;
$gray2:         #222;
$gray3:         #333;
$gray4:         #444;
$gray5:         #555;
$gray6:         #666;
$gray7:         #777;
$gray8:         #888;
$gray9:         #999;

$grayC:         #ccc;
$grayD:         #ddd;
$grayE:         #eee;

$color-social-twitter     : #00aced;
$color-social-facebook    : #3b5998;
$color-social-googleplus  : #dd4b39;
$color-social-pinterest   : #cb2027;
$color-social-linkedin    : #007bb6;
$color-social-youtube     : #bb0000;
$color-social-vimeo       : #aad450;
$color-social-instagram   : #517fa4;
$color-social-flickr      : #ff0084;
$color-social-dribbble    : #ea4c89;
$color-social-whatsapp    : #4dc247;


/* =============================================================================
  CUSTOM COLORS
============================================================================= */

$grayF4: 			#F4F4F4;
$gray4A: 			#4A4A4A;
$color-primary: 	#F39264; // F6A623
$color-secondary: 	#4990E2;

$green:				#8BCC43;
$purple: 			#8D8CDD;