@charset "UTF-8";


/* =============================================================================
  CONFIG
============================================================================= */

$module-name: 					'content';



/* =============================================================================
  BASE
============================================================================= */

.m-#{$module-name} {
	
	max-width: 800px;

	* + * {
		margin-top: 1.5rem;
	}

	p {
		margin-top: 1.5rem;
	}

	iframe {
		margin: 3rem 0;
	}

	* + h2 ,
	* + h3 {
		margin-top: 1.5em;
	}

	* + *:not(p) {
		margin: 3rem 0;
	}

	// :empty {
	// 	display: none;
	// }

	h1, h2, h3, h4, h5, h6 {
		margin-bottom: 0;
	}
}