@charset "UTF-8";


/* =============================================================================
  CONFIG
============================================================================= */

$module-name: 					'social-media';



/* =============================================================================
  BASE
============================================================================= */

.m-#{$module-name} {
	overflow: hidden;
	margin-top: 5px;
	display: inline-block;
	
	&__button {
		height: 30px;
		width: 30px;
		background: $black;
		color: $white;
		overflow: hidden;
		display: block;
		float: left;
		text-align: center;
		line-height: 30px;
		margin-left: 10px;
		@include border-radius(15px);
		text-decoration: none !important;

		&:hover {
			background: $color-secondary;
			color: $white;
		}
	}
}