@charset "UTF-8";


/* =============================================================================
  CONFIG
============================================================================= */

$module-name: 					'newsletter';

/* =============================================================================
  BASE
============================================================================= */

.m-#{$module-name} {
	
	&__text {
		margin-bottom: 30px;
	}

	#mc_embed_signup {
		background: none;
		max-width: 600px;
		margin: 0 auto;
        text-align: center;
		
		h2 {
			
		}
		
		.indicates-required {
			text-align: right;
		}
		.mc-field-group {
			margin-bottom: $margin-medium;

			label {
				display: block;
				margin-bottom: 10px;
				text-align: left;
				color: $white;
				display: none;
			}

			input {
				width: 100%;
			}
		}

		#mc-embedded-subscribe {
			margin-top: $margin-large;
		}

		.response {
			color: $white;
		}
	}
	
}