@charset "UTF-8";

.o-logo {
    display: block;
    text-decoration: none;
    color: $black;
    width: 300px;

    h1 {
        margin: 0;
        @include rem(20);
        line-height: 60px;

        @include respond-to-min (xs) {
            @include rem(22);
        }
        @include respond-to-min (sm) {
            @include rem(28);
            line-height: 1.3;
        }
        @include respond-to-min (md) {
            @include rem(32);            
        }
        @include respond-to-min (lg) {
            @include rem(36);
        }
    }

    &:hover, &:focus, &:active {
        color: $black;
    }
}