<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8"> 
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>Kernelementen ouderenzorg</title>
	
	<link type="text/css" rel="stylesheet" href="./public/library/css/main.css" />

	<script type="text/javascript" src="./public/library/js/vendors/modernizr-custom.js"></script>
	<script type="text/javascript" src="./public/library/js/vendors/detectizr.min.js"></script>

	<!--[if lt IE 9]>
		{{ javascript_include("./public/library/js/vendor/html5shiv.js") }}
		{{ javascript_include("./public/library/js/vendor/respond.min.js") }}
	<![endif]-->

    </head>
    <body>
		
		<!-- START Wrapper -->
		<div id="l-wrapper">
			
			<div id="l-header">
				<div id="l-header__top">
					<div class="l-container">
							
						<!-- START Logo -->
						<a class="o-logo" href="#" target="_self">
							<h1>Kernelementen <strong>ouderenzorg</strong></h1>
						</a>
						<!-- END Logo -->
						
						<!-- START Social media -->
						<div class="m-social-media">
							<a href="#" class="m-social-media__button"><i class="fa fa-facebook"></i></a>
							<a href="#" class="m-social-media__button"><i class="fa fa-twitter"></i></a>
							<a href="#" class="m-social-media__button"><i class="fa fa-google-plus"></i></a>
							<a href="#" class="m-social-media__button"><i class="fa fa-linkedin"></i></a>
						</div>
						<!-- END Social media -->

					</div>
				</div>

				<div id="l-header__navigation">
					<div class="l-container">
						<div class="l-row">
							<div class="col-xs-12">

								<!-- START Main navigation -->
								<nav class="m-navigation">
									<div class="m-navigation__mobile-toggle">

										<button class="hamburger hamburger--squeeze m-navigation__mobile-toggle__btn" type="button">
											<span class="hamburger-box">
												<span class="hamburger-inner"></span>
											</span>
											<!-- <span class="hamburger__label">Menu</span> -->
										</button>
									</div>
									<div class="m-navigation__container">
										<ul>
											<li class="page_item current_page_item"><a href="#">Home</a></li>
											<li class="page_item"><a href="#">De 8 kernelementen</a></li>
											<li class="page_item"><a href="#">Opleiding</a></li>
											<li class="page_item"><a href="#">Contact</a></li>
										</ul>
									</div>
								</nav>
								<!-- END Main navigation -->

							</div>
						</div>
					</div>
				</div>
			</div>
			
			<!-- START Intro home -->
			<div class="section m-intro-home">
				<div class="l-container">

					<div class="l-row">

						<div class="col-xs-12 col-sm-7 col-md-8 m-intro-home__image">
							<div class="m-intro-home__image__bg" style="background: url(./public/library/img/mantelzorg-ik-hou-van-oud.jpg) no-repeat center center; background-size: cover;"></div>
						</div>

						<div class="col-xs-12 col-sm-5 col-md-4 m-intro-home__content">
							<div class="m-intro-home__content__inner bg--color-primary padding-resp">
								<strong>Welkom op de site over de 8 kernelementen van de Inspectie voor de Gezondheidszorg.</strong>
								<p>Hier leest u over de kernelementen en de manier om zo in uw instelling hiermee aan de gang te gaan dat u werkt volgens belevingsgerichte zorg.</p>
							</div>
						</div>

					</div>
				</div>

			</div>
			<!-- END Intro home -->

			<!-- START Kernelementen -->
			<div class="section m-kernelementen bg--gray4 padding-resp-top padding-resp-bottom section-negative-top">
				<div class="l-container">

					<div class="l-row">
						<div class="col-xs-12">
							<div class="m-kernelementen__top-content">
								<h2 class="txt--white">Wat zijn de <strong>8 kernelementen</strong>?</h2>
							</div>
						</div>
					</div>

					<div class="l-row">
						
						<div class="m-kernelementen__item col-xs-6 col-sm-3 col-md-3">
							<div class="m-kernelementen__item__number">
								<strong>1</strong>
							</div>
							<div class="m-kernelementen__item__text">
								<div class="m-kernelementen__item__text__inner">
								Tijdig signaleren van onbegrepen gedrag zodat ingegrepen kan worden voordat escalatie plaatsvindt.
								</div>
							</div>
						</div>

						<div class="m-kernelementen__item col-xs-6 col-sm-3 col-md-3">
							<div class="m-kernelementen__item__number">
								<strong>2</strong>
							</div>
							<div class="m-kernelementen__item__text">
								<div class="m-kernelementen__item__text__inner">
								Tijdig signaleren van onbegrepen gedrag zodat ingegrepen kan worden voordat escalatie plaatsvindt.
								</div>
							</div>
						</div>

						<div class="m-kernelementen__item col-xs-6 col-sm-3 col-md-3">
							<div class="m-kernelementen__item__number">
								<strong>3</strong>
							</div>
							<div class="m-kernelementen__item__text">
								<div class="m-kernelementen__item__text__inner">
								Tijdig signaleren van onbegrepen gedrag zodat ingegrepen kan worden voordat escalatie plaatsvindt.
								</div>
							</div>
						</div>

						<div class="m-kernelementen__item col-xs-6 col-sm-3 col-md-3">
							<div class="m-kernelementen__item__number">
								<strong>4</strong>
							</div>
							<div class="m-kernelementen__item__text">
								<div class="m-kernelementen__item__text__inner">
								Tijdig signaleren van onbegrepen gedrag zodat ingegrepen kan worden voordat escalatie plaatsvindt.
								</div>
							</div>
						</div>

					</div>

					<div class="l-row">

						<div class="m-kernelementen__item col-xs-6 col-sm-3 col-md-3">
							<div class="m-kernelementen__item__number">
								<strong>5</strong>
							</div>
							<div class="m-kernelementen__item__text">
								<div class="m-kernelementen__item__text__inner">
								Tijdig signaleren van onbegrepen gedrag zodat ingegrepen kan worden voordat escalatie plaatsvindt.
								</div>
							</div>
						</div>

						<div class="m-kernelementen__item col-xs-6 col-sm-3 col-md-3">
							<div class="m-kernelementen__item__number">
								<strong>6</strong>
							</div>
							<div class="m-kernelementen__item__text">
								<div class="m-kernelementen__item__text__inner">
								Tijdig signaleren van onbegrepen gedrag zodat ingegrepen kan worden voordat escalatie plaatsvindt.
								</div>
							</div>
						</div>

						<div class="m-kernelementen__item col-xs-6 col-sm-3 col-md-3">
							<div class="m-kernelementen__item__number">
								<strong>7</strong>
							</div>
							<div class="m-kernelementen__item__text">
								<div class="m-kernelementen__item__text__inner">
								Tijdig signaleren van onbegrepen gedrag zodat ingegrepen kan worden voordat escalatie plaatsvindt.
								</div>
							</div>
						</div>

						<div class="m-kernelementen__item col-xs-6 col-sm-3 col-md-3">
							<div class="m-kernelementen__item__number">
								<strong>8</strong>
							</div>
							<div class="m-kernelementen__item__text">
								<div class="m-kernelementen__item__text__inner">
								Tijdig signaleren van onbegrepen gedrag zodat ingegrepen kan worden voordat escalatie plaatsvindt.
								</div>
							</div>
						</div>

					</div>

					<div class="l-row">
						<div class="col-xs-12 align-right">
							<a class="o-btn o-btn--black">Lees meer <i class="fa fa-angle-right"></i></a>
						</div>
					</div>

				</div>
			</div>
			<!-- END Kernelementen -->

			<!-- START Attention -->
			<div class="section m-attention padding-resp-top padding-resp-bottom">
				<div class="l-container">
					<div class="l-row">
						<div class="col-xs-12">

							<div class="m-attention__image" style="background: url(./public/library/img/mantelzorg-ik-hou-van-oud.jpg) no-repeat center center; background-size: cover;">
							</div>
							<div class="m-attention__content">
								<div class="m-attention__content__left bg--color-primary padding-resp">
									<h3 class="txt--white">Opgeleid worden volgens de Kern Elementen?</h3>
									<a class="o-btn o-btn--primary">Lees meer <i class="fa fa-angle-right"></i></a>
								</div>
								<div class="m-attention__content__right bg--white padding-resp">
									<div class="m-attention__content__item">
										<div class="number">
											<strong>1</strong>
										</div>
										<div class="content">
											als u een team psychologen en/of ervaren verpleegkundigen wilt trainen die vervolgens verzorgenden in uw organisatie gaan trainen kiest u voor de <a href="#">trainersopleiding</a> van ABC99. Deze opleiding kan via de open inschrijving die minimaal 1 x per jaar start of via een maatwerk in-company variant
										</div>
									</div>
									<div class="m-attention__content__item">
										<div class="number">
											<strong>2</strong>
										</div>
										<div class="content">
											Als u direct op de werkvloer verzorgenden wilt trainen in de ABC-methodiek, kunt u via aangesloten trainingsbureau ’s trainers inhuren.
										</div>
									</div>
								</div>
							</div>


							
						</div>
					</div>
				</div>
			</div>
			<!-- END Attention -->

			<!-- START Footer -->
			<footer id="l-footer" class="m-footer">

			<div class="l-container padding-resp-top padding-resp-bottom">
				<div class="l-row">
					<div class="m-footer__col col-l col-xs-12 col-sm-4">
						<h3>Links</h3>
						<ul>
							<li><a href="#">Home</a></li>
							<li><a href="#">De 8 kernelementen</a></li>
							<li><a href="#">Opleiding</a></li>
							<li><a href="#">Contact</a></li>
						</ul>
					</div>
					<div class="m-footer__col col-c col-xs-12 col-sm-4">
						<!-- START Social media -->
						<div class="m-social-media">
							<a href="#" class="m-social-media__button"><i class="fa fa-facebook"></i></a>
							<a href="#" class="m-social-media__button"><i class="fa fa-twitter"></i></a>
							<a href="#" class="m-social-media__button"><i class="fa fa-google-plus"></i></a>
							<a href="#" class="m-social-media__button"><i class="fa fa-linkedin"></i></a>
						</div>
						<!-- END Social media -->

						<div class="m-footer__divider"></div>
						<p>Meer informatie over ABC99 vindt u op onze website www.abc99.org</p>
					</div>
					<div class="m-footer__col col-r col-xs-12 col-sm-4">
						<h3>Contact</h3>
						<p><strong>telefoon:</strong> (045) 511 49 06<br>
						<strong>email:</strong> info@abc99.org<br><br>
						Bereikbaar: maandag t/m vrijdag tijdens kantooruren</p>
					</div>

					<div class="m-footer__col-mobile col-xs-12 ">
						<!-- START Social media -->
						<div class="m-social-media">
							<a href="#" class="m-social-media__button"><i class="fa fa-facebook"></i></a>
							<a href="#" class="m-social-media__button"><i class="fa fa-twitter"></i></a>
							<a href="#" class="m-social-media__button"><i class="fa fa-google-plus"></i></a>
							<a href="#" class="m-social-media__button"><i class="fa fa-linkedin"></i></a>
						</div>
						<!-- END Social media -->
						<br><br>
						<p>Meer informatie over ABC99 vindt u op onze website www.abc99.org</p>
					</div>

				</div>
			</div>

			<div class="m-copyright-bar" role="copyright footer">
				<div class="l-container">
					<div class="m-copyright-bar__text"><p>© 2017 kernelementenouderenzorg.nl  |  <a href="#">Disclaimer</a></p>
					</div>
				</div>
				<div class="o-to-top-btn right">
					<i class="fa fa-angle-up"></i>
				</div>
			</div>
			<footer>
			<!-- END Footer -->
			
		</div>
		<!-- END Wrapper -->

    	<script src="./public/library/js/vendors.min.js"></script>
		<script src="./public/library/js/main.min.js"></script>

        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
        <!-- <script>
            (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
            function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
            e=o.createElement(i);r=o.getElementsByTagName(i)[0];
            e.src='//www.google-analytics.com/analytics.js';
            r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
            ga('create','UA-XXXXX-X','auto');ga('send','pageview');
        </script> -->

    </body>
</html>
