<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8"> 
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>Kernelementen ouderenzorg - Opleidingen</title>
	
	<link type="text/css" rel="stylesheet" href="./public/library/css/main.css"  media="none" onload="this.media='all';"/>

	<script type="text/javascript" src="<./public/library/js/vendors/modernizr-custom.js"></script>
	<script type="text/javascript" src="./public/library/js/vendors/detectizr.min.js"></script>

	<!--[if lt IE 9]>
		{{ javascript_include("./public/library/js/vendor/html5shiv.js") }}
		{{ javascript_include("./public/library/js/vendor/respond.min.js") }}
	<![endif]-->

    </head>
    <body>
		
		<!-- START Wrapper -->
		<div id="l-wrapper">
			
			<div id="l-header">
				<div id="l-header__top">
					<div class="l-container">
							
						<!-- START Logo -->
						<a class="o-logo" href="#" target="_self">
							<h1>Kernelementen <strong>ouderenzorg</strong></h1>
						</a>
						<!-- END Logo -->
						
						<!-- START Social media -->
						<div class="m-social-media">
							<a href="#" class="m-social-media__button"><i class="fa fa-facebook"></i></a>
							<a href="#" class="m-social-media__button"><i class="fa fa-twitter"></i></a>
							<a href="#" class="m-social-media__button"><i class="fa fa-google-plus"></i></a>
							<a href="#" class="m-social-media__button"><i class="fa fa-linkedin"></i></a>
						</div>
						<!-- END Social media -->

					</div>
				</div>

				<div id="l-header__navigation">
					<div class="l-container">
						<div class="l-row">
							<div class="col-xs-12">

								<!-- START Main navigation -->
								<nav class="m-navigation">
									<div class="m-navigation__mobile-toggle">

										<button class="hamburger hamburger--squeeze m-navigation__mobile-toggle__btn" type="button">
											<span class="hamburger-box">
												<span class="hamburger-inner"></span>
											</span>
											<!-- <span class="hamburger__label">Menu</span> -->
										</button>
									</div>
									<div class="m-navigation__container">
										<ul>
											<li class="page_item"><a href="#">Home</a></li>
											<li class="page_item"><a href="#">De 8 kernelementen</a></li>
											<li class="page_item current_page_item"><a href="#">Opleiding</a></li>
											<li class="page_item"><a href="#">Contact</a></li>
										</ul>
									</div>
								</nav>
								<!-- END Main navigation -->

							</div>
						</div>
					</div>
				</div>
			</div>
			
			<!-- START Intro volgpagina -->
			<div class="section m-intro-volgpagina bg--color-primary padding-resp-top padding-resp-bottom">
				<div class="l-container">
					<div class="l-row">

						<div class="col-xs-12">
							<div class="m-intro-volgpagina__content">
								<h1>Opgeleid worden?</h1>
								<p>De Kernelementen-training volgens de ABC-methodiek kan op twee niveaus startenals u een team psychologen en/of ervaren verpleegkundigen wilt trainen die vervolgens verzorgenden in uw organisatie gaan trainen kiest u voor de trainersopleiding van ABC99.</p>

								<p>Deze opleiding kan via de open inschrijving die minimaal 1 x per jaar start of via een maatwerk in-company variant. Als u direct op de werkvloer verzorgenden wilt trainen in de <a href="#">ABC-methodiek</a>, kunt u via aangesloten trainingsbureau ’s trainers inhuren.</p>
							</div>
						</div>

					</div>
				</div>

			</div>
			<!-- END Intro volgpagina -->

			<!-- START Voordelen -->
			<div class="section m-voordelen bg--gray4 padding-resp-top padding-resp-bottom">
				<div class="l-container">
					<div class="l-row">

						<div class="col-xs-12">
							<h2 class="txt--white">De <strong>voordelen</strong> van de Kernelementen Training</h2>
							<ul>
								<li><i class="fa fa-check"></i>als ik met mijn vader praat over …</li>
								<li><i class="fa fa-check"></i>mijn moeder blijft maar roepen '....'</li>
								<li><i class="fa fa-check"></i>hoe kan ik de onrust van mijn partner verminderen?</li>
								<li><i class="fa fa-check"></i>mevrouw pakt steeds spullen van anderen, wat kunnen we doen?</li>
								<li><i class="fa fa-check"></i>hoe kunnen we medebewoners beschermen tegen het knijpgedrag van …?</li>
								<li><i class="fa fa-check"></i>Meneer weigert te eten aan tafel, wat kunnen we doen?</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<!-- START Voordelen -->
			
			<!-- START Qeustion right -->
			<div class="section m-questions m-questions--right bg--grayF4 padding-resp-top padding-resp-bottom--xl">
				<div class="l-container">
					<div class="l-row">

						<div class="col-xs-12 col-sm-8 m-questions__col-image">

							<h2>Wat zeggen psychologen over de trainersopleiding</h2>
							<div class="m-questions__image" style="background: url(./public/library/img/mantelzorg-ik-hou-van-oud.jpg) no-repeat center center; background-size: cover;">
							</div>

						</div>
						<div class="col-xs-12 col-sm-4 m-questions__col-text">
							
							<div class="m-questions__speech">
								<div class="m-questions__speech__content bg--white padding-resp">
									<ul>
										<li>als ik met mijn vader praat over …</li>
										<li>mijn moeder blijft maar roepen '....'</li>
										<li>hoe kan ik de onrust van mijn partner verminderen?</li>
										<li>mevrouw pakt steeds spullen van anderen, wat kunnen we doen?</li>
										<li>hoe kunnen we medebewoners beschermen tegen het knijpgedrag van …?</li>
										<li>Meneer weigert te eten aan tafel, wat kunnen we doen?</li>
									</ul>
								</div>
								<div class="m-questions__speech__triangle">

								</div>
							</div>
							
						</div>

					</div>
				</div>
			</div>
			<!-- END Qeustion right -->

			<!-- START Qeustion left -->
			<div class="section m-questions m-questions--left bg--white padding-resp-top padding-resp-bottom">
				<div class="l-container">
					<div class="l-row">
						
						<div class="col-xs-12 col-sm-8 m-questions__col-image m-questions__col-mobile">
							
							<h2>Wat zeggen verzorgenden over de Kernelementen training ABC-methodiek</h2>
							<div class="m-questions__image" style="background: url(./public/library/img/mantelzorg-ik-hou-van-oud.jpg) no-repeat center center; background-size: cover;">
							</div>

						</div>

						<div class="col-xs-12 col-sm-4 m-questions__col-text">

							<div class="m-questions__speech">
								<div class="m-questions__speech__content bg--white padding-resp">
									<ul>
										<li>als ik met mijn vader praat over …</li>
										<li>mijn moeder blijft maar roepen '....'</li>
										<li>hoe kan ik de onrust van mijn partner verminderen?</li>
										<li>mevrouw pakt steeds spullen van anderen, wat kunnen we doen?</li>
										<li>hoe kunnen we medebewoners beschermen tegen het knijpgedrag van …?</li>
										<li>Meneer weigert te eten aan tafel, wat kunnen we doen?</li>
									</ul>
								</div>
								<div class="m-questions__speech__triangle">

								</div>
							</div>
							
						</div>
						<div class="col-xs-12 col-sm-8 m-questions__col-image m-questions__col-desktop negative-top">
							
							<div class="m-questions__image" style="background: url(./public/library/img/mantelzorg-ik-hou-van-oud.jpg) no-repeat center center; background-size: cover;">
							</div>
							<h2>Wat zeggen verzorgenden over de Kernelementen training ABC-methodiek</h2>

						</div>

					</div>
				</div>
			</div>
			<!-- END Qeustion right -->

			<!-- START Footer -->
			<footer id="l-footer" class="m-footer">

			<div class="l-container padding-resp-top padding-resp-bottom">
				<div class="l-row">
					<div class="m-footer__col col-l col-xs-12 col-sm-4">
						<h3>Links</h3>
						<ul>
							<li><a href="#">Home</a></li>
							<li><a href="#">De 8 kernelementen</a></li>
							<li><a href="#">Opleiding</a></li>
							<li><a href="#">Contact</a></li>
						</ul>
					</div>
					<div class="m-footer__col col-c col-xs-12 col-sm-4">
						<!-- START Social media -->
						<div class="m-social-media">
							<a href="#" class="m-social-media__button"><i class="fa fa-facebook"></i></a>
							<a href="#" class="m-social-media__button"><i class="fa fa-twitter"></i></a>
							<a href="#" class="m-social-media__button"><i class="fa fa-google-plus"></i></a>
							<a href="#" class="m-social-media__button"><i class="fa fa-linkedin"></i></a>
						</div>
						<!-- END Social media -->

						<div class="m-footer__divider"></div>
						<p>Meer informatie over ABC99 vindt u op onze website www.abc99.org</p>
					</div>
					<div class="m-footer__col col-r col-xs-12 col-sm-4">
						<h3>Contact</h3>
						<p><strong>telefoon:</strong> (045) 511 49 06<br>
						<strong>email:</strong> info@abc99.org<br><br>
						Bereikbaar: maandag t/m vrijdag tijdens kantooruren</p>
					</div>

					<div class="m-footer__col-mobile col-xs-12 ">
						<!-- START Social media -->
						<div class="m-social-media">
							<a href="#" class="m-social-media__button"><i class="fa fa-facebook"></i></a>
							<a href="#" class="m-social-media__button"><i class="fa fa-twitter"></i></a>
							<a href="#" class="m-social-media__button"><i class="fa fa-google-plus"></i></a>
							<a href="#" class="m-social-media__button"><i class="fa fa-linkedin"></i></a>
						</div>
						<!-- END Social media -->
						<br><br>
						<p>Meer informatie over ABC99 vindt u op onze website www.abc99.org</p>
					</div>

				</div>
			</div>

			<div class="m-copyright-bar" role="copyright footer">
				<div class="l-container">
					<div class="m-copyright-bar__text"><p>© 2017 kernelementenouderenzorg.nl  |  <a href="#">Disclaimer</a></p>
					</div>
				</div>
				<div class="o-to-top-btn right">
					<i class="fa fa-angle-up"></i>
				</div>
			</div>
			<footer>
			<!-- END Footer -->
			
		</div>
		<!-- END Wrapper -->

    	<script src="./public/library/js/vendors.min.js"></script>
		<script src="./public/library/js/main.min.js"></script>

        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
        <!-- <script>
            (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
            function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
            e=o.createElement(i);r=o.getElementsByTagName(i)[0];
            e.src='//www.google-analytics.com/analytics.js';
            r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
            ga('create','UA-XXXXX-X','auto');ga('send','pageview');
        </script> -->

    </body>
</html>
