@charset "UTF-8";


/* =============================================================================
  CONFIG
============================================================================= */

$module-name: 					'attention';



/* =============================================================================
  BASE
============================================================================= */

.m-#{$module-name} {

	&__image {
		position: relative;
		z-index: 0;
		height: 300px;

		@include respond-to-min (sm) {
			height: 360px;
		}
		@include respond-to-min (md) {
			height: 430px;
		}
		@include respond-to-min (lg) {
			height: 500px;
		}
	}

	&__content {
		position: relative;
		margin: 0 15px;
		margin-top: -60px;
		z-index: 1;
		overflow: hidden;

		@include respond-to-min (xs) {
			margin: 0 30px;
			margin-top: -75px;
		}
		@include respond-to-min (sm) {
			margin: 0 45px;
			margin-top: -90px;
		}
		@include respond-to-min (md) {
			margin: 0 60px;
			margin-top: -120px;
		}
		@include respond-to-min (lg) {
			margin: 0 75px;
			margin-top: -150px;
		}

		h3 {
			margin-top: 0;
		}

		&__left {

			@include respond-to-min (sm) {
				width: 40%;
				float: left;
				min-height: 100%;
				position: absolute;
				left: 0;
				top: 0;
			}
		}

		&__right {
			@include respond-to-min (sm) {
				width: 60%;
				float: right;
			}
			@include respond-to-max (sm) {
				padding-left: 0;
			}
		}

		&__item {
			position: relative;
			margin-bottom: 15px;

			.number {
				color: $color-primary;
				position: absolute;
				top: 0;
				left: 0;
				font-size: 24px;
			}

			.content {
				position: relative;
				padding-left: 30px;

				@include respond-to-min (md) {
					padding-left: 45px;
				}
			}

			&:last-child {
				margin-bottom: 0;
			}
		}

	}
}