@charset "UTF-8";


/* =============================================================================
  CONFIG
============================================================================= */

$module-name: 					'questions';



/* =============================================================================
  BASE
============================================================================= */

.m-#{$module-name} {
	
	&__col {
		
		&-text {
			position: relative;
			z-index: 1;
		}
		&-image {
			position: relative;
			z-index: 0;
		}
		&-mobile {
			
			@include respond-to-min (sm) {
				display: none;
			}
		}
		&-desktop {
			display: none;

			@include respond-to-min (sm) {
				display: block;
			}
		}
	}

	&__image {
		height: 40vh;
		width: 100%;
		margin-top: 15px;

		@include respond-to-min (sm) {
			height: 250px;
			margin-top: 0;
		}
		@include respond-to-min (md) {
			height: 300px;
		}
		@include respond-to-min (lg) {
			height: 350px;
		}
	}

	&__speech {
		position: relative;
		margin: 0 15px;
		margin-top: -15vh;

		@include respond-to-min (sm) {
			margin: 0 30px;
			margin-top: -125px;
		}
		@include respond-to-min (md) {
			margin-top: -150px;
		}
		@include respond-to-min (lg) {
			margin-top: -175px;
		}
		
		&__content {
			position: relative;
			margin-left: 20px;
			border-bottom: 4px solid $color-primary;

			@include respond-to-min (sm) {
				margin-left: 30px;
			}
			@include respond-to-min (md) {
				margin-left: 40px;
			}

			ul {
				list-style-type: none;
				padding-left: 0;
				margin: 0;

				li {
					position: relative;
					padding-left: 20px;
					line-height: 1.5;
					padding-bottom: 5px;

					&:before {
						content: "•";
						font-size: 24px;
						line-height: 24px;
						color: $color-secondary;
						position: absolute;
						left: 0;
						top: 0;
					}
				}
			}
		}

		&__triangle {
			position: absolute;
			left: 0;
			top: 20px;
			width: 0 !important;
			height: 0 !important;
			border-style: solid;
			border-width: 0 20px 20px 0;
			border-color: transparent $white transparent transparent;

			@include respond-to-min (sm) {
				top: 30px;
				border-width: 0 30px 30px 0;
			}
			@include respond-to-min (md) {
				top: 40px;
				border-width: 0 40px 40px 0;
			}
		}
	}

	&--model {

	}

	&--right {
		
		h2 {
			margin-bottom: 30px;

			@include respond-to-min (sm) {
				padding-right: 120px;
				margin-bottom: 30px;
			}
		}

		.m-questions__speech {
			margin: 0;

			@include respond-to-min (sm) {
				margin-left: -120px
			}
		}

		.m-questions__speech__content {
			margin-top: -15vh;
			margin-left: 35px;
			margin-right: 15px;
			
			@include respond-to-min (sm) {
				margin-top: 0;
				margin-left: 30px;
				margin-right: 0;
			}
			@include respond-to-min (md) {
				margin-left: 40px;
			}
		}

		.m-questions__speech__triangle {
			left: 15px;

			@include respond-to-min (sm) {
				left: auto;
				top: auto;
				bottom: 60px;
			}
		}
	}

	&--left {
		
		h2 {
			margin-bottom: 30px;

			@include respond-to-min (sm) {
				padding-left: 120px;
				margin-top: 30px;
				margin-bottom: 0;
			}

			@include respond-to-min (md) {
				margin-top: 45px;
			}
		}

		.m-questions__speech {
			margin: 0;
			
			@include respond-to-min (sm) {
				margin-right: -120px
			}

		}
		.m-questions__speech__content {
			margin-top: -15vh;
			margin-left: 15px;
			margin-right: 35px;
			
			@include respond-to-min (sm) {
				margin-top: 0;
				margin-right: 30px;
				margin-left: 0;
			}
			@include respond-to-min (md) {
				margin-right: 40px;
			}
		}

		.m-questions__speech__triangle {
			right: 15px;
			left: auto;
			top: 20px;
			border-style: solid;
			border-width: 20px 20px 0 0;
			border-color: $white transparent transparent transparent;
			
			@include respond-to-min (sm) {
				right: 0;
				top: 30px;
				border-width: 30px 30px 0 0;
				border-color: $white transparent transparent transparent;
			}
			@include respond-to-min (md) {
				top: 40px;
				border-width: 40px 40px 0 0;
				border-color: $white transparent transparent transparent;
			}
		}
	}
}