@charset "UTF-8";

/* =============================================================================
  CONFIG
============================================================================= */



/* =============================================================================
  BASE
============================================================================= */

.left {
    float: left !important;
}

.right {
    float: right !important;
}

.clearfix {

    &:before {
        display: table;
        content: "";
    }

    &:after {
        display: table;
        clear: both;
        content: "";
    }
}
