@charset "UTF-8";


/* =============================================================================
  CONFIG
============================================================================= */

$module-name: 					'navigation';
$navigation-mobile-overlay-bg:	rgba(0,0,0,0.9);
$navigation-mobile-animation: 	translateY(-100%);
$navigation-mobile-tranistion: 	0.5s cubic-bezier(0.6, -0.28, 0.74, 0.05);


/* =============================================================================
  BASE
============================================================================= */

.m-#{$module-name} {

	&__container {
		width: 100%;
		height: 100%;
		background: $navigation-mobile-overlay-bg;
	    -webkit-transform: $navigation-mobile-animation;
	    -ms-transform: $navigation-mobile-animation;
	    transform: $navigation-mobile-animation;
	    position: fixed;
	    left: 0;
	    right: 0;
	    top: 0;
	    bottom: 0;
	    overflow: hidden;
	    z-index: 5000;
	    padding: $padding-medium;
	    -webkit-transition: -webkit-transform $navigation-mobile-tranistion;
	    transition: -webkit-transform $navigation-mobile-tranistion;
	    transition: transform $navigation-mobile-tranistion;
	    transition: transform $navigation-mobile-tranistion,
	    -webkit-transform $navigation-mobile-tranistion;
	    -webkit-transition: transform $navigation-mobile-tranistion;
	    -moz-transition: transform $navigation-mobile-tranistion;
	    -o-transition: transform $navigation-mobile-tranistion;

	    &.is--active {
		    -webkit-transform: translateY(0px);
		    -ms-transform: translateY(0px);
		    transform: translateY(0px);
	    }

		ul {
			list-style: none;
			padding: 0;

			li {

				@include respond-to-min (sm) {
					display: block;
					float: left;
					width: auto
				}

				a {
					display: block;
					color: $black;
					line-height: 20px;
					padding: 15px 0;
					color: $white;
					text-decoration: none !important;

					@include respond-to-min (sm) {
						color: $black;
						margin: 0 20px;
						padding: 10px 0;
						border-bottom: 4px solid $white;

						&:hover {
							border-bottom: 4px solid $grayD;
						}
					}
				}

				&:first-child a {
					@include respond-to-min (sm) {
						margin-left: 0;
					}
				}

				&.current_page_item a {
					@include respond-to-min (sm) {
						border-bottom: 4px solid $color-secondary;
					}
				}
			}
		}

		@include respond-to-min (sm) {
			background: none;
			position: relative;
			transform: none;
			top: initial;
			bottom: initial;
			left: initial;
			right: initial;
			overflow: initial;
			width: initial;
			height: initial;
			padding: $padding-medium 0;
			overflow: hidden;
		}
	}


	// Mobile toggle button
	&__mobile-toggle {
		width: 60px;
		height: 60px;
		position: absolute;
		right: 0;
		top: 0;

		@include respond-to-min (sm) {
			display: none;
		}

		&__btn {
			background: none;
			border: none;
			display: inline-block;
			line-height: 40px;
			text-align: center;
			@include rem(18);

			&.is-active {
				position: relative;
				color: $white;
				z-index: 9999;
			}

			&:hover {

			}
		}
	}
}