@charset "UTF-8";


/* =============================================================================
  CONFIG
============================================================================= */

$module-name: 					'copyright-bar';



/* =============================================================================
  BASE
============================================================================= */

.m-#{$module-name} {
	position: relative;
	background: rgba(0,0,0,0.1);
	
	&__text {
		p {
			margin: 0;
			line-height: 50px;
			@include rem(10);

			@include respond-to-min (xs) {
				@include rem(14);
			}

			@include respond-to-min (sm) {
				@include rem(16);
			}
		}
		a  {
			color: $black;
		}
	}

	.o-to-top-btn {
		position: absolute;
		right: 0;
		top: 0;
	}
}