@charset "UTF-8";


/* =============================================================================
  CONFIG
============================================================================= */

$module-name: 					'kernelementen';

/* =============================================================================
  BASE
============================================================================= */

.m-#{$module-name} {
	
	h2 {
		padding-bottom: 15px;

		@include respond-to-min (md) {
			padding-bottom: 0;
		}
	}
	
	.l-row {

		@include respond-to-min (sm) {
			margin-bottom: 15px;
		}

		@include respond-to-min (md) {
			margin-bottom: 30px;
		}

		&:last-child {
			@include respond-to-min (sm) {
				margin-bottom: 0;
			}
		}
	}

	&__top-content {
		padding-left: 30px;
		max-width: 800px;

		@include respond-to-min (md) {
			padding-left: 45px;
		}
	}

	&__item {
		position: relative;
		margin-bottom: 15px;

		@include respond-to-min (sm) {
			margin-bottom: 0;
		}

		&__number {
			position: absolute;
			top: 15px;
			left: 15px;
			@include rem(24);
			color: $color-primary;
		}

		&__text {
			position: relative;
			margin-left: 30px;
			color: $white;

			@include respond-to-min (md) {
				margin-left: 45px;
			}

			&__inner {
				border-top: 1px solid $gray9;
				padding-top: 15px;

				@include respond-to-min (sm) {
					border-top: 4px solid $grayD;
				}
			}
		}
	}

	.o-btn {
		margin-top: 30px;
	}

	&.bg--white {
		
		.m-kernelementen__item__text {
			color: $black;

			&__inner {
				border-top: 1px solid $grayD;

				@include respond-to-min (sm) {
					border-top: 4px solid $grayD;
				}
			}
		}
	}
}