@charset "UTF-8";


/* =============================================================================
  CONFIG
============================================================================= */

$module-name: 					'footer';



/* =============================================================================
  BASE
============================================================================= */

.m-#{$module-name} {
	background: $grayF4;

	h3, p {
		margin-top: 0;
	}

	ul {
		list-style-type: none;
		padding: 0;
		margin: 0;

		li {

			a {
				padding: 10px 0;
				display: block;
				color: $gray4;
				text-decoration: none;
			}

			&:first-child a {
				padding-top: 0;
			}
		}
	}
	
	&__col-mobile {

		@include respond-to-min (sm) {
			display: none;
		}
	}

	&__col {
		margin-bottom: 30px;
		border-bottom: 1px solid $grayC;
		padding-bottom: 15px;

		&.col-c {
			display: none;

			@include respond-to-min (sm) {
				display: block;
			}
		}

		@include respond-to-min (sm) {
			margin-bottom: 0;
			border: 0;
			padding-bottom: 0;

			&.col-l {
				text-align: left;
			}
			&.col-c {
				text-align: center;
				margin-top: 30px;
			}
			&.col-r {
				text-align: right;
			}
		}
	}

	&__divider {
		width: 100px;
		height: 4px;
		background: $grayC;
		margin: 30px auto;
	}
}