@charset "UTF-8";


/* =============================================================================
  CONFIG
============================================================================= */

$object-name: 					'to-top-btn';
$button-height: 				50px;
$button-width: 					50px;
$button-bg:						$color-primary;
$button-bg-hover:				$black;
$button-color:					$white;


/* =============================================================================
  BASE
============================================================================= */

.o-#{$object-name} {
	width: $button-width;
	height: $button-height;
	line-height: $button-height;
	background: $button-bg;
	text-align: center;
	cursor: pointer;
	color: $button-color;
	@include transition(.2s, all, ease);
	
	.fa {
		font-size: 32px;
		line-height: $button-height;
	}

	&:hover {
		background: $button-bg-hover;
	}
}