@charset "UTF-8";


/* =============================================================================
  CONFIG
============================================================================= */

$module-name: 					'voordelen';



/* =============================================================================
  BASE
============================================================================= */

.m-#{$module-name} {
	
	ul {
		margin: 0;
		padding: 0;
		list-style-type: none;

		li {
			position: relative;
			color: $white;
			padding-bottom: 15px;
			padding-left: 30px;
			line-height: 1.4;

			i {
				position: absolute;
				top: 2px;
				left: 0;
				padding-right: 15px;
				color: $green;
			}
		}
	}
}