@charset "UTF-8";


/* =============================================================================
  CONFIG
============================================================================= */

$module-name: 					'intro-home';

/* =============================================================================
  BASE
============================================================================= */

.m-#{$module-name} {
	position: relative;

	.l-container {
		padding: 0;
		position: relative;

		@include respond-to-min (sm) {
			padding-left: 30px;
			padding-right: 30px;
		}
	}

	&__image {
		padding: 0;

		@include respond-to-min (sm) {
			margin: 0;
			float: left;
			padding-left: 15px;
		}

		&__bg {
			height: 50vh;
			width: 100%;

			@include respond-to-min (sm) {
				height: 300px;
			}
			@include respond-to-min (md) {
				height: 350px;
			}
			@include respond-to-min (lg) {
				height: 400px;
			}
		}
	}

	&__content {
		// width: 100%;
		padding: 0 15px;
		position: relative;
		top: -30px;

		@include respond-to-min (sm) {
			position: absolute;
			right: 30px;
			top: 0;
			height: 100%;
			padding: 0;
		}

		&__inner {
			position: relative;
			padding: 30px 15px;
			min-height: 100%;
			
			@include respond-to-min (sm) {
				top: 30px;
				padding: 30px;
			}
			@include respond-to-min (md) {
				top: 45px;
				margin-left: -15px;
				padding: 45px;
			}
			@include respond-to-min (lg) {
				top: 60px;
				margin-left: -30px;
				padding: 45px;
			}

			p, b, strong, a {
				color: $white;

				@include respond-to-min (sm) {
					@include rem(16);
				}
				@include respond-to-min (md) {
					@include rem(18);
				}
			}

			b, strong {
				@include rem(18);

				@include respond-to-min (md) {
					@include rem(21);
				}
			}

		}
	}
}