/* =============================================================================
  TEXT COLORS
============================================================================= */

.txt--white {
	color: $white;
}

.txt--black {
	color: $black;
}

.txt--white {
	color: $white;
}

.txt--gray1 {
	color: $gray1;
}

.txt--gray2 {
	color: $gray2;
}

.txt--gray3 {
	color: $gray3;
}

.txt--gray4 {
	color: $gray4;
}

.txt--gray5 {
	color: $gray5;
}

.txt--gray6 {
	color: $gray6;
}

.txt--gray7 {
	color: $gray7;
}

.txt--gray8 {
	color: $gray8;
}

.txt--gray9 {
	color: $gray9;
}

.txt--grayC {
	color: $grayC;
}

.txt--grayD {
	color: $grayD;
}

.txt--grayE {
	color: $grayE;
}

.txt--grayF4 {
	color: $grayF4;
}

.txt--gray4A {
	color: $gray4A;
}

.txt--color-primary {
	color: $color-primary;
}

.txt--color-secondary {
	color: $color-secondary;
}

.txt--purple {
	color: $purple;
}


/* =============================================================================
  BACKGROUND COLORS
============================================================================= */

.bg--white {
	background: $white;
}

.bg--black {
	background: $black;
}

.bg--white {
	background: $white;
}

.bg--gray1 {
	background: $gray1;
}

.bg--gray2 {
	background: $gray2;
}

.bg--gray3 {
	background: $gray3;
}

.bg--gray4 {
	background: $gray4;
}

.bg--gray5 {
	background: $gray5;
}

.bg--gray6 {
	background: $gray6;
}

.bg--gray7 {
	background: $gray7;
}

.bg--gray8 {
	background: $gray8;
}

.bg--gray9 {
	background: $gray9;
}

.bg--grayC {
	background: $grayC;
}

.bg--grayD {
	background: $grayD;
}

.bg--grayE {
	background: $grayE;
}

.bg--grayF4 {
	background: $grayF4;
}

.bg--gray4A {
	background: $gray4A;
}

.bg--color-primary {
	background: $color-primary;
}

.bg--color-secondary {
	background: $color-secondary;
}

.bg--purple {
	background: $purple;
}
