@charset "UTF-8";

/* =============================================================================
CONFIG
============================================================================= */

$object-name: 							'input-field';
$input-field-background:				$grayF4;
$input-field-border-color:				$grayD;
$input-field--focus-border-color:		$blue;
$input-field-color:						$black;
$input-placeholder-color:				$gray6;
$input-field-border-color:				$grayC;
$input-field-bg-color-disabled:        	#eee;

$input-field-border-width:				2px; // This need the set because it's the same width for :focus
$input-field-radius:					3px;

$input-field-label-color:				$black;

$input-border:							"true";
$input-border-radius:					"false";


/* =============================================================================
BASE
============================================================================= */

input[type="text"], input[type="email"] {
	outline: 0;
	padding: 0.5em 0.75em;
	background-color: $input-field-background;
	border: $input-field-border-width transparent solid;

	@if $input-border == "true" {
		border: $input-field-border-width solid $input-field-border-color;
	}

	@if $input-border-radius == "true" {
		@include border-radius($input-field-radius);
	}

	@include rem(14);
	@include placeholder($input-placeholder-color);
	@include transition(border-color, .15s, ease-in-out);

	&:focus {
		border-color: $input-field--focus-border-color;
	}

	&:disabled {
		background: $input-field-bg-color-disabled;
	}
}

/* =============================================================================
CUSTOM INPUT FIELD
============================================================================= */

.o-#{$object-name} {
	width:  100%;
	display: block;
	line-height: 1.4;
	background-image: none;

	&__label {
		font-weight: 600;
		display: inline-block;
		padding-bottom: $padding-xsmall;
		color: $input-field-label-color;
		@include rem(16);
	}

	// Input container
	&__container {

	}

	// Small input field
	&.o-#{$object-name}--sm {
		min-height: 26px;
		padding: 0.25em 0.5em;
		@include rem(12);
	}
}
