@charset "UTF-8";

/* =============================================================================
  CONFIG
============================================================================= */

$body-bg: 				$white;
$wrapper-bg:			$white;
$content-bg:			$white;
$sidebar-bg:			none;
$footer-bg: 			$gray3;

$header-bg:				$gray9;
$header-height:			60px;


/* =============================================================================
  BASE
============================================================================= */

body {
	background: $body-bg;
}

#l-wrapper {
	background: $wrapper-bg;
	@include clearfix();
	overflow: hidden;
}

#l-header {
	height: 60px;

	@include respond-to-min (sm) {
		height: auto;
	}

	&__top {
		float: left;

        @include respond-to-min (sm) {
        	float: none;
            padding-top: 30px;
        }
        @include respond-to-min (md) {
            padding-top: 45px;
            
        }
        @include respond-to-min (lg) {
            padding-top: 60px;
            padding-bottom: 15px;
        }
	}

	&__navigation {
		float: right;

		@include respond-to-min (sm) {
			float: none;
			padding-bottom: 15px;
		}
		@include respond-to-min (md) {
			padding-bottom: 30px;
		}
	}

	.o-logo {
		float: left;
		@include clearfix();
	}

	.m-navigation {
		
	}

	.m-social-media {
		display: none;

		@include respond-to-min (sm) {
			display: block;
			float: right;
		}
		
	}
}

#l-content {
	background: $content-bg;
}

#l-sidebar {
	background: $sidebar-bg;
}

#l-footer {
	
}

.padding-resp {
	padding: 30px 15px;
	
	@include respond-to-min (xs) {
		padding: 30px;
	}
	@include respond-to-min (sm) {
		padding: 45px 30px;
	}
	@include respond-to-min (md) {
		padding: 60px 45px;
	}
	@include respond-to-min (lg) {
		padding: 60px;
	}
}

.padding-resp-top {
	padding-top: 30px;

	@include respond-to-min (sm) {
		padding-top: 45px;
	}
	@include respond-to-min (md) {
		padding-top: 60px;
	}
	@include respond-to-min (lg) {
		padding-top: 60px;
	}
}
.padding-resp-bottom {
	padding-bottom: 30px;

	@include respond-to-min (sm) {
		padding-bottom: 45px;
	}
	@include respond-to-min (md) {
		padding-bottom: 60px;
	}
	@include respond-to-min (lg) {
		padding-bottom: 60px;
	}
}
.padding-resp-bottom--xl {
	padding-bottom: 30px;

	@include respond-to-min (sm) {
		padding-bottom: 90px;
	}
	@include respond-to-min (md) {
		padding-bottom: 120px;
	}
	@include respond-to-min (lg) {
		padding-bottom: 120px;
	}
}

.section {

	&.section-negative-top {
		margin-top: -150px;
		padding-top: 150px;

		&.padding-resp, &.padding-resp-top, &.padding-resp-bottom {

			@include respond-to-min (sm) {
				margin-top: -150px;
				padding-top: 210px;
			}
			@include respond-to-min (md) {
				margin-top: -175px;
				padding-top: 235px;
			}
			@include respond-to-min (lg) {
				margin-top: -200px;
				padding-top: 260px;
			}
		}
	}
}

&.negative-top {
	
	margin-top: -90px;

	@include respond-to-min (sm) {
		margin-top: -90px;
	}
	@include respond-to-min (md) {
		margin-top: -120px;
	}
	@include respond-to-min (lg) {
		margin-top: -120px;
	}
}