@charset "UTF-8";


/* =============================================================================
  CONFIG
============================================================================= */

$object-name: 					'btn';
$button-font-color: 		    $white;
$button-font-weight:            400;
$button-background--primary:    $color-secondary;
$button-background--secondary:  $succes-green;
$button-radius:                 20px;
$button-border-width:           1px;
$button-border-style:           solid;
$button-border-color:           transparent;


/* =============================================================================
  BASE
============================================================================= */

.o-#{$object-name} {
	color: $button-font-color;
	display: inline-block;
    padding: 8px 20px 12px 20px;
    margin-bottom: 0;
    font-weight: $button-font-weight;
    line-height: 20px;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: $button-border-width $button-border-style $button-border-color;
    @include border-radius($button-radius);
	@include transition(all, 200ms, ease-in-out);
	@include rem(16);
    height: 40px;
    text-decoration: none !important;

    .fa {
        font-size: 18px;
        line-height: 20px;
        padding-left: 5px;
        position: relative;
        top: 1px;
    }
}

.o-#{$object-name}--primary {
	color: $button-font-color;
	background: $button-background--primary;

	&:hover {
        color: $button-font-color;
		background: darken($button-background--primary, 10%);
	}
}

.o-#{$object-name}--secondary {
	color: $button-font-color;
	background: $button-background--secondary;

	&:hover {
        color: $button-font-color;
		background: darken($button-background--secondary, 10%);
	}
}

.o-#{$object-name}--black {
    color: $white;
    background: $black;

    &:hover {
        color: $white;
        background: darken($button-background--primary, 10%);
    }
}
