@charset "UTF-8";


/* =============================================================================
  CONFIG
============================================================================= */

$module-name: 					'contact-form';



/* =============================================================================
  BASE
============================================================================= */

.m-#{$module-name} {
	
	
}

.wpcf7 {
	
	.wpcf7-form-control {
		margin-top: 10px;
	}

	.wpcf7-submit {
		background: $color-secondary;
	    border: 0;
	    color: $white;
	    line-height: 20px;
	    padding: 10px 20px;
	    border-radius: 20px;

	    &:hover {
	    	background: darken($color-secondary,10%);
	    }
	}

	.wpcf7-validation-errors {
		border: 2px solid #f00;
		color: #f00;
		padding: 10px 15px;
	}

	.wpcf7-textarea {
		border: 2px solid $grayD;
		background: $grayF4;
	}

	input[type="text"], input[type="email"], .wpcf7-textarea {
		width: 280px;
		max-width: 100%;

		@include respond-to-min (xs) {
			width: 400px;
			max-width: 100%;
		}
		@include respond-to-min (sm) {
			width: 500px;
			max-width: 100%;
		}
	}
}