@charset "UTF-8";


/* =============================================================================
  CONFIG
============================================================================= */

$module-name: 					'intro-volgpagina';

/* =============================================================================
  BASE
============================================================================= */

.m-#{$module-name} {
	
	&__content {
		max-width: 800px;
	}
	
	h1, h2, h3, h4, p, b, strong, i, a {
		color: $white;
	}
}